@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(2,0,36);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

image{
  outline: dashed 1px red;
}

html {
  scroll-behavior: smooth;
}
@supports (-webkit-text-stroke: 1px black) {
   .outline-text {
    -webkit-text-stroke: 1px rgb(255, 247, 247);
    -webkit-text-fill-color: black;
  }
}
::-webkit-scrollbar {
  background-color: #2d2d35;
  width: 0.4rem;
}
::-webkit-scrollbar-thumb {
  --tw-bg-opacity: 1;
  background-color: rgb(0 255 148);
}